.top-barre{
position: relative;
float: right;
bottom: 3em;
}
.menu {
  position: relative;
  left: 14.5em;
  top: 2.5em;
}
.recherche {
  float: right;
  position: relative;
  bottom: 5em;
  left: 31em;
}
.image{
  position: absolute;
  bottom: 27em;
}
.side {
  position: absolute;
  top: 10em;
}
.side ul {
  list-style: none;
  float: left;
  border: 1px solid silver;

}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.tableau {
  float: right;
}
.title {
  text-align: center;
}
nav {
  height: 90px;
  background-color: #f6f6f6;

}
nav ul {
  padding: 2em 1em;
}
nav li {
  display: inline-block;
}
nav a {
  display: inline;

}
